/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/* Layout rules */
/* Component (SMACSS module) rules */
/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\0000349}}
body {
  border-collapse: collapse;
  width: 204mm;
}

/* Utility classes */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\0000355}}
.wireframe {
  /* 	border: 1px solid RGB(182, 182, 182); */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\0000360}}
.yb-headshot {
  width: 500px;
  height: 500px;
}

/* "Page" break block */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\0000366}}
.pb {
  /* 
  	height: 1mm;
  	width: 8in;
   */
  page-break-after: always;
  /* 	clear-after: both; */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\0000375}}
.badge, .badge-row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 74.5mm;
}

/* badge row */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\0000381}}
.badge-row {
  width: 206mm;
  position: relative;
  page-break-inside: avoid;
  clear: left;
  display: block;
}

/* badge block */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\0000390}}
.badge {
  width: 101.6mm;
  padding: 5mm;
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\0000396}}
.row1 {
  /* 	top: $r1; */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003100}}
.row2 {
  /* 	top: $r2; */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003104}}
.row3 {
  /* 	top: $r3; */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003108}}
.badge1, .badge3, .badge5 {
  top: 0mm;
  left: 0mm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003113}}
.badge2, .badge4, .badge6 {
  top: 0mm;
  left: 99.2mm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003118}}
.fn, .ln, .city, .badge-header, .hs, .badge-footer {
  position: absolute;
}

/* Badge header line */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003123}}
.badge-header {
  font-size: 100%;
  color: red;
  left: 5mm;
  top: 2.5mm;
}

/* Badge footer line */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003131}}
.badge-footer {
  font-size: 100%;
  color: green;
  left: 5mm;
  bottom: 2.5mm;
}

/* headshot block */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003139}}
.hs {
  left: 10mm;
  top: 10mm;
  width: 4cm;
  height: 4cm;
}

/* headshot image */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003147}}
.hs-img {
  width: 4cm;
  height: 4cm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003152}}
.fn, .ln, .city {
  text-align: right;
  right: 5mm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003157}}
.ln, .city {
  font-size: 6mm;
  line-height: 7.2mm;
}

/* First Name block */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003163}}
.fn {
  bottom: 3.0cm;
  /* 	height: 1.5cm; */
  width: 4.5cm;
  font-size: 10.8mm;
  line-height: 12.96mm;
}

/* Last name block */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003172}}
.ln {
  top: 5.0cm;
  /* 	float: right; */
  height: 1cm;
  width: 9cm;
}

/* City block */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dad\/Dropbox\/Projects\/GHSReunion\/sass\/styles\.scss}line{font-family:\00003180}}
.city {
  top: 6.1cm;
  /* 	float: right; */
  height: 1cm;
  width: 9cm;
}
